{% extends 'base/base.html' %}

<!-- {% block title %}home{% endblock title %} -->

{% block content %}
<h1>home</h1>

<div class="container-fluid">
    <button type="button" class="btn btn-light">receive</button>
    <button type="button" class="btn btn-light">issue</button>
    <button type="button" class="btn btn-light">History</button>

    <button type="button" class="btn btn-secondary float-right">add item</button>    
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Phone</td>
            <td>oppo</td>
            <td>1</td>
            <td>12-5/2559</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Phone</td>
            <td>oppo</td>
            <td>1</td>
            <td>12-5/2559</td>
        </tr><tr>
            <th scope="row">1</th>
            <td>Phone</td>
            <td>oppo</td>
            <td>1</td>
            <td>12-5/2559</td>
        </tr><tr>
            <th scope="row">1</th>
            <td>Phone</td>
            <td>oppo</td>
            <td>1</td>
            <td>12-5/2559</td>
        </tr><tr>
            <th scope="row">1</th>
            <td>Phone</td>
            <td>oppo</td>
            <td>1</td>
            <td>12-5/2559</td>
        </tr><tr>
            <th scope="row">1</th>
            <td>Phone</td>
            <td>oppo</td>
            <td>1</td>
            <td>12-5/2559</td>
        </tr>
    </tbody>
</table>
{% endblock %}