{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock title %}

{% block content %}	

<form method='POST' action=''>{% csrf_token %}
  {{form|crispy}}
      <input type="submit" value='Search'/>
</form>
<br>

<h1>{{header}}</h1>

<table class='table'>
  <thead>
    <tr>
      <th>COUNT</th>
      <th>CATEGORY</th>
      <th>ITEM NAME</th>
      <th>QUANTITY IN STORE</th>
      <th>DELETE</th>
    </tr>
  </thead>
{% for instance in queryset %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{instance.category}}</td>
      <td><a href="{% url 'update_item' instance.id %}">{{instance.item_name}}</a></td>
      <td>{{instance.quantity}}</td>
      <td><a href="{% url 'delete_item' instance.id %}">Delete</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}